@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-navy: #0f172a;
  --color-navy-light: #1e293b;
  --color-sea: #1067bf;
  --color-sea-light: #1068bfe3;
  --color-ocean: #084d91;
}
